nav img{
    margin: 0 3px;
}

nav li img{
    margin: 0 -4px;
}

.carousel-inner .img-wrap img:hover{
    opacity: 50%;
    transform: scale(1.1);
}

.img-wrap {
    overflow: hidden;
}